.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  /* background-color: #333; */
  padding: 0 20px;
  color: white;
  width: -webkit-fill-available;
}

.logo-container {
  display: flex;
  align-items: center;
  height: 50px;
  width: 50px;
}

.logo-image {
  padding-top: 10px;
  height: 45px;
}

.menu-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu-icon {
  font-size: 24px;
}

@media (max-width: 600px) {
  .logo-image {
    height: 45px;
  }
}
